.footer-top p{
    color: #999;
    line-height: 25px;
}
.footer-top h2,h3 {
    color: #fff;

} 
.footer-top h2 {
    font-size: 18px;
}
.footer-top{
    background: #111;
    padding: 80px 0;
}
.segment-one {
    color:#fff;
    letter-spacing: 3px;
    margin: 10px  0;
}
.segment-two {
    color:#fff;
    text-transform: uppercase;
    
}
.segment-two h2::before {
    content: '|';
    color: #c65039;
    padding-right: 10px;

}
.segment-two ul{
    margin: 0;
    padding: 0;
    list-style:none;
    text-decoration: none;
}
.segment-two ul a{
    text-decoration: none;
}
.segment-two ul li{
    border-bottom: 1px solid rgba(255,255,255,.3);
    line-height: 40px;

}
.segment-two ul li a {
    color: #999;
    text-decoration: none;

}
.segment-three {
    text-transform: uppercase;

}
.segment-three h2::before {
    content: '|';
    color: #c65039;
    padding-right: 10px;

}